BuzzStats/Service References/BuzzStatsCrawlerEvents/CrawlerEvents.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema
  xmlns:tns="http://schemas.datacontract.org/2004/07/BuzzStats.Web.api"
  elementFormDefault="qualified"
  targetNamespace="http://schemas.datacontract.org/2004/07/BuzzStats.Web.api"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType
    name="StoryCheckedEventArgs">
    <xs:sequence>
      <xs:element
        minOccurs="0"
        name="HadChanges"
        type="xs:boolean" />
      <xs:element
        minOccurs="0"
        name="SelectorName"
        nillable="true"
        type="xs:string" />
      <xs:element
        minOccurs="0"
        name="StoryId"
        type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element
    name="StoryCheckedEventArgs"
    nillable="true"
    type="tns:StoryCheckedEventArgs" />
</xs:schema>